## OSPI Enrollment 2023-24 Dataset

The Office of the Superintendent of Public Instruction (OSPI) maintains a repository of data that is available for public use. In my previous role as the tuition and financial aid director for a private high school, my team and I used data from OSPI to gain understanding of overall student enrollment in Washington State and to guide our strategic enrollment goals and long-term budgeting.

In [1]:
# Import necessary libraries for assignment
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Reading the OSPI Enrollment 2023-2024 file into a DataFrame
try:
    df = pd.read_csv('Report_Card_Enrollment_2023-24_School_Year_20241028.csv')
    # Do some operations with the file
except FileNotFoundError:
    print('File not found.')

In [2]:
# Analyze the dataset to create baseline understanding

print('Display the first 5 rows of the OSPI dataframe')
print(df.head(5)) # Display the first 5 rows of the Dataframe
print("*"*75)

print('Dataframe info:')
print(df.info()) # Display info about the data, including shape & column info
print("*"*75)


print('Missing data:')
print(df.isnull().sum()) # Display columns with missing data

Display the first 5 rows of the OSPI dataframe
  SchoolYear OrganizationLevel County                           ESDName  \
0    2023-24          District  Adams  Educational Service District 101
1    2023-24          District  Adams  Educational Service District 101
2    2023-24          District  Adams  Educational Service District 101
3    2023-24          District  Adams  Educational Service District 101
4    2023-24          District  Adams  Educational Service District 101

   ESDOrganizationID  DistrictCode               DistrictName  \
0           100001.0        1109.0  Washtucna School District
1           100001.0        1109.0  Washtucna School District
2           100001.0        1109.0  Washtucna School District
3           100001.0        1109.0  Washtucna School District
4           100001.0        1109.0  Washtucna School District

   DistrictOrganizationId  SchoolCode      SchoolName  ...  Non-Foster Care  \
0                100287.0         NaN  District Total  ...                0
1                100287.0         NaN  District Total  ...                0
2                100287.0         NaN  District Total  ...                0
3                100287.0         NaN  District Total  ...                0
4                100287.0         NaN  District Total  ...                0

  Non-Highly Capable Non-Homeless  Non-Low Income  Non Migrant  \
0                  5            5               0            5
1                  9            9               2            9
2                  6            6               2            6
3                  3            3               0            3
4                  5            5               1            5

   Non Military Parent  Non Mobile  Non Section 504  \
0                    5           5                5
1                    9           8                9
2                    6           6                4
3                    3           3                3
4                    5           5                5

   Students without Disabilities                DataAsOf
0                              5  06/18/2024 12:00:00 AM
1                              8  06/18/2024 12:00:00 AM
2                              6  06/18/2024 12:00:00 AM
3                              3  06/18/2024 12:00:00 AM
4                              3  06/18/2024 12:00:00 AM

[5 rows x 45 columns]
***************************************************************************
Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20565 entries, 0 to 20564
Data columns (total 45 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   SchoolYear                               20565 non-null  object
 1   OrganizationLevel                        20565 non-null  object
 2   County                                   20565 non-null  object
 3   ESDName                                  20205 non-null  object
 4   ESDOrganizationID                        20189 non-null  float64
 5   DistrictCode                             20549 non-null  float64
 6   DistrictName                             20565 non-null  object
 7   DistrictOrganizationId                   20549 non-null  float64
 8   SchoolCode                               16090 non-null  float64
 9   SchoolName                               20565 non-null  object
 10  SchoolOrganizationID                     16090 non-null  float64
 11  CurrentSchoolType                        16090 non-null  object
 12  GradeLevel                               20565 non-null  object
 13  All Students                             20565 non-null  int64
 14  Female                                   20565 non-null  int64
 15  Gender X                                 20565 non-null  int64
 16  Male                                     20565 non-null  int64
 17  American Indian/ Alaskan Native          20565 non-null  int64
 18  Asian                                    20565 non-null  int64
 19  Black/ African American                  20565 non-null  int64
 20  Hispanic/ Latino of any race(s)          20565 non-null  int64
 21  Native Hawaiian/ Other Pacific Islander  20565 non-null  int64
 22  Two or More Races                        20565 non-null  int64
 23  White                                    20565 non-null  int64
 24  English Language Learners                20565 non-null  int64
 25  Foster Care                              20565 non-null  int64
 26  Highly Capable                           20565 non-null  int64
 27  Homeless                                 20565 non-null  int64
 28  Low-Income                               20565 non-null  int64
 29  Migrant                                  20565 non-null  int64
 30  Military Parent                          20565 non-null  int64
 31  Mobile                                   20565 non-null  int64
 32  Section 504                              20565 non-null  int64
 33  Students with Disabilities               20565 non-null  int64
 34  Non-English Language Learners            20565 non-null  int64
 35  Non-Foster Care                          20565 non-null  int64
 36  Non-Highly Capable                       20565 non-null  int64
 37  Non-Homeless                             20565 non-null  int64
 38  Non-Low Income                           20565 non-null  int64
 39  Non Migrant                              20565 non-null  int64
 40  Non Military Parent                      20565 non-null  int64
 41  Non Mobile                               20565 non-null  int64
 42  Non Section 504                          20565 non-null  int64
 43  Students without Disabilities            20565 non-null  int64
 44  DataAsOf                                 20565 non-null  object
dtypes: float64(5), int64(31), object(9)
memory usage: 7.1+ MB
None
***************************************************************************
Missing data:
SchoolYear                                    0
OrganizationLevel                             0
County                                        0
ESDName                                     360
ESDOrganizationID                           376
DistrictCode                                 16
DistrictName                                  0
DistrictOrganizationId                       16
SchoolCode                                 4475
SchoolName                                    0
SchoolOrganizationID                       4475
CurrentSchoolType                          4475
GradeLevel                                    0
All Students                                  0
Female                                        0
Gender X                                      0
Male                                          0
American Indian/ Alaskan Native               0
Asian                                         0
Black/ African American                       0
Hispanic/ Latino of any race(s)               0
Native Hawaiian/ Other Pacific Islander       0
Two or More Races                             0
White                                         0
English Language Learners                     0
Foster Care                                   0
Highly Capable                                0
Homeless                                      0
Low-Income                                    0
Migrant                                       0
Military Parent                               0
Mobile                                        0
Section 504                                   0
Students with Disabilities                    0
Non-English Language Learners                 0
Non-Foster Care                               0
Non-Highly Capable                            0
Non-Homeless                                  0
Non-Low Income                                0
Non Migrant                                   0
Non Military Parent                           0
Non Mobile                                    0
Non Section 504                               0
Students without Disabilities                 0
DataAsOf                                      0
dtype: int64

### Business Questions for Analysis

- How is enrollment trending since 2020/post-COVID era (2020-2021, 2021-2022, 2022-2023, 2023-2024)
    - by class
- Can we see a heatmap of enrollment increases/decreases across school districts?
- Isolate Spokane area schools and do same analysis as above
    - will require school - zip code dataset to cross-reference
    - can we see private school enrollment? (NWESD101 is private school district)

<mark>read in prior year data sets and merge into one larger set <mark>

In [3]:
# Remove rows with missing or duplicated values from dataframe

cleaned_df = df.dropna()
cleaned_df = cleaned_df.drop_duplicates() 
cleaned_df

,SchoolYear,OrganizationLevel,County,ESDName,ESDOrganizationID,DistrictCode,DistrictName,DistrictOrganizationId,SchoolCode,SchoolName,...,Non-Foster Care,Non-Highly Capable,Non-Homeless,Non-Low Income,Non Migrant,Non Military Parent,Non Mobile,Non Section 504,Students without Disabilities,DataAsOf
4459,2023-24,School,Adams,Educational Service District 101,100001.0,1109.0,Washtucna School District,100287.0,3075.0,Washtucna Elementary/High School,...,0,5,5,0,5,5,5,5,5,06/18/2024 12:00:00 AM
4460,2023-24,School,Adams,Educational Service District 101,100001.0,1109.0,Washtucna School District,100287.0,3075.0,Washtucna Elementary/High School,...,0,9,9,2,9,9,8,9,8,06/18/2024 12:00:00 AM
4461,2023-24,School,Adams,Educational Service District 101,100001.0,1109.0,Washtucna School District,100287.0,3075.0,Washtucna Elementary/High School,...,0,6,6,2,6,6,6,4,6,06/18/2024 12:00:00 AM
4462,2023-24,School,Adams,Educational Service District 101,100001.0,1109.0,Washtucna School District,100287.0,3075.0,Washtucna Elementary/High School,...,0,3,3,0,3,3,3,3,3,06/18/2024 12:00:00 AM
4463,2023-24,School,Adams,Educational Service District 101,100001.0,1109.0,Washtucna School District,100287.0,3075.0,Washtucna Elementary/High School,...,0,5,5,1,5,5,5,5,3,06/18/2024 12:00:00 AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20544,2023-24,School,Yakima,Educational Service District 105,100002.0,39209.0,Mount Adams School District,100155.0,2532.0,White Swan High School,...,0,54,39,0,40,58,53,55,49,06/18/2024 12:00:00 AM
20545,2023-24,School,Yakima,Educational Service District 105,100002.0,39209.0,Mount Adams School District,100155.0,2532.0,White Swan High School,...,0,66,58,0,57,68,68,64,60,06/18/2024 12:00:00 AM
20546,2023-24,School,Yakima,Educational Service District 105,100002.0,39209.0,Mount Adams School District,100155.0,2532.0,White Swan High School,...,0,76,56,0,60,80,75,74,69,06/18/2024 12:00:00 AM
20547,2023-24,School,Yakima,Educational Service District 105,100002.0,39209.0,Mount Adams School District,100155.0,2532.0,White Swan High School,...,0,70,51,0,59,70,66,67,52,06/18/2024 12:00:00 AM
20548,2023-24,School,Yakima,Educational Service District 105,100002.0,39209.0,Mount Adams School District,100155.0,2532.0,White Swan High School,...,0,266,204,0,216,276,262,260,230,06/18/2024 12:00:00 AM

## Enrollment Trends

Using merged datasets from above, produce plot line of enrollment change from 2020 to present.

In [8]:
enrollment_data = df.pivot_table(values="All Students", index="GradeLevel", columns="SchoolYear", aggfunc="sum")
enrollment_data = enrollment_data.style.format("{:,.0f}")

enrollment_data

In [21]:
print('Dataframe objects:')
print(cleaned_df.columns) # Display the columns for df.drop call

Dataframe objects:
Index(['SchoolYear', 'OrganizationLevel', 'County', 'ESDName',
       'ESDOrganizationID', 'DistrictCode', 'DistrictName',
       'DistrictOrganizationId', 'SchoolCode', 'SchoolName',
       'SchoolOrganizationID', 'CurrentSchoolType', 'GradeLevel',
       'All Students', 'Female', 'Gender X', 'Male',
       'American Indian/ Alaskan Native', 'Asian', 'Black/ African American',
       'Hispanic/ Latino of any race(s)',
       'Native Hawaiian/ Other Pacific Islander', 'Two or More Races', 'White',
       'English Language Learners', 'Foster Care', 'Highly Capable',
       'Homeless', 'Low-Income', 'Migrant', 'Military Parent', 'Mobile',
       'Section 504', 'Students with Disabilities',
       'Non-English Language Learners', 'Non-Foster Care',
       'Non-Highly Capable', 'Non-Homeless', 'Non-Low Income', 'Non Migrant',
       'Non Military Parent', 'Non Mobile', 'Non Section 504',
       'Students without Disabilities', 'DataAsOf'],
      dtype='object')

In [ ]:
trunc_df = cleaned_df.drop([['SchoolYear', 'OrganizationLevel', 'County', 'ESDName',
       'ESDOrganizationID', 'DistrictCode', 'DistrictName',
       'DistrictOrganizationId', 'SchoolCode', 'SchoolName',
       'SchoolOrganizationID', 'CurrentSchoolType', 'GradeLevel',
       'All Students', 'Female', 'Gender X', 'Male',
       'American Indian/ Alaskan Native', 'Asian', 'Black/ African American',
       'Hispanic/ Latino of any race(s)',
       'Native Hawaiian/ Other Pacific Islander', 'Two or More Races', 'White',
       'English Language Learners', 'Foster Care', 'Highly Capable',
       'Homeless', 'Low-Income', 'Migrant', 'Military Parent', 'Mobile',
       'Section 504', 'Students with Disabilities',
       'Non-English Language Learners', 'Non-Foster Care',
       'Non-Highly Capable', 'Non-Homeless', 'Non-Low Income', 'Non Migrant',
       'Non Military Parent', 'Non Mobile', 'Non Section 504',
       'Students without Disabilities', 'DataAsOf']], axis=1)

In [ ]:
# Display statistical summary of data
print('Statistical summary of dataframe')
print(df.describe())

Statistical summary of dataframe
       ESDOrganizationID  DistrictCode  DistrictOrganizationId    SchoolCode  \
count       20189.000000  20549.000000            20549.000000  16090.000000
mean       100070.693645  22153.483819           100287.240547   3584.890491
std           613.206326  10424.243415              862.908784   1172.673582
min        100001.000000   1109.000000           100001.000000   1502.000000
25%        100003.000000  17001.000000           100084.000000   2659.000000
50%        100006.000000  21237.000000           100161.000000   3424.000000
75%        100007.000000  31103.000000           100236.000000   4423.750000
max        105886.000000  39801.000000           106989.000000   5961.000000

       SchoolOrganizationID  All Students         Female      Gender X  \
count          16090.000000  2.056500e+04   20565.000000  20565.000000
mean          102649.440273  3.214552e+02     154.326088      1.356674
std             1787.442140  8.000679e+03    3840.906072     37.197146
min           100326.000000  0.000000e+00       0.000000      0.000000
25%           101337.000000  2.700000e+01      12.000000      0.000000
50%           102272.000000  6.700000e+01      32.000000      0.000000
75%           103181.750000  1.670000e+02      80.000000      0.000000
max           106992.000000  1.100059e+06  528028.000000   4979.000000

                Male  American Indian/ Alaskan Native  ...  \
count   20565.000000                     20565.000000  ...
mean      165.772137                         3.927741  ...
std      4123.501639                        96.209583  ...
min         0.000000                         0.000000  ...
25%        14.000000                         0.000000  ...
50%        34.000000                         0.000000  ...
75%        87.000000                         2.000000  ...
max    567051.000000                     13168.000000  ...

       Non-English Language Learners  Non-Foster Care  Non-Highly Capable  \
count                   20565.000000     2.056500e+04        2.056500e+04
mean                      275.848869     1.931447e+02        2.974613e+02
std                      6858.923442     7.975395e+03        7.399174e+03
min                         0.000000     0.000000e+00        0.000000e+00
25%                        23.000000     0.000000e+00        2.600000e+01
50%                        55.000000     0.000000e+00        6.300000e+01
75%                       145.000000     0.000000e+00        1.560000e+02
max                    943149.000000     1.096742e+06        1.017624e+06

       Non-Homeless  Non-Low Income   Non Migrant  Non Military Parent  \
count  2.056500e+04    20565.000000  2.056500e+04         2.056500e+04
mean   3.098487e+02      161.762898  3.148052e+02         3.126991e+02
std    7.702311e+03     4001.951057  7.836218e+03         7.782171e+03
min    0.000000e+00        0.000000  0.000000e+00         0.000000e+00
25%    2.600000e+01        8.000000  2.600000e+01         2.600000e+01
50%    6.400000e+01       28.000000  6.500000e+01         6.500000e+01
75%    1.600000e+02       76.000000  1.620000e+02         1.630000e+02
max    1.059009e+06   548950.000000  1.077309e+06         1.069861e+06

         Non Mobile  Non Section 504  Students without Disabilities
count  2.056500e+04     2.056500e+04                   20565.000000
mean   3.124281e+02     3.040937e+02                     269.944177
std    7.878034e+03     7.561982e+03                    6719.057812
min    0.000000e+00     0.000000e+00                       0.000000
25%    2.500000e+01     2.500000e+01                      21.000000
50%    6.400000e+01     6.400000e+01                      54.000000
75%    1.600000e+02     1.580000e+02                     139.000000
max    1.083337e+06     1.039905e+06                  923258.000000

[8 rows x 36 columns]

In [ ]:
# Data Definition
pd.pivot_table(ospi_df, values = 'school', index = 'Female', 'Male', 'All Students')

<mark>Type Analysis Here</mark>

hello