## OSPI Enrollment 2023-24 Dataset

The Office of the Superintendent of Public Instruction (OSPI) maintains a repository of data that is available for public use. In my previous role as the tuition and financial aid director for a private high school, my team and I used data from OSPI to gain understanding of overall student enrollment in Washington State and to guide our strategic enrollment goals and long-term budgeting.

In [16]:
# Import necessary libraries for assignment
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:

# Reads OSPI enrollment CSV files into a DataFrame.

def load_enrollment_data(file_path):    
    try:
        # Load the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        
        return df
    
    except FileNotFoundError:
        print(f'File not found: {file_path}')
        return None

# Read OSPI Enrollment Data into DataFrames    
df_24 = load_enrollment_data('Report_Card_Enrollment_2023-24.csv')
df_23 = load_enrollment_data('Report_Card_Enrollment_2022-23.csv')
df_22 = load_enrollment_data('Report_Card_Enrollment_2021-22.csv')
df_21 = load_enrollment_data('Report_Card_Enrollment_2020-21.csv')
df_20 = load_enrollment_data('Report_Card_Enrollment_2019-20.csv')

In [18]:
# Function to reorder columns based on a reference DataFrame, then concatenate
def reorder_and_concat(*dataframes):
    try:
        # Standardize column names
        for df in dataframes:
            df.columns = df.columns.str.lower()  # Convert to lowercase
            df.columns = df.columns.str.replace(r"[_\-/]", " ", regex=True)  # Replace _, -, or / with a space
        
        # Use the columns from the first DataFrame as the reference
        reference_columns = dataframes[0].columns
        
        # Reorder each DataFrame to match the reference column order
        reordered_dfs = [df[reference_columns] for df in dataframes]
        
        # Concatenate the reordered DataFrames along rows
        concatenated_df = pd.concat(reordered_dfs, axis=0)
        
        print("DataFrames concatenated successfully with aligned columns.")
        return concatenated_df
    
    except Exception as e:
        print("Columns do not match. Concatenation failed.")
        return None

concat_df = reorder_and_concat(df_24, df_23, df_22, df_21, df_20)
print(concat_df) # Will print None if concatenation fails

DataFrames concatenated successfully with aligned columns.
      schoolyear organizationlevel    county  \
0        2023-24          District     Adams
1        2023-24          District     Adams
2        2023-24          District     Adams
3        2023-24          District     Adams
4        2023-24          District     Adams
...          ...               ...       ...
19934    2019-20             State  Multiple
19935    2019-20             State  Multiple
19936    2019-20             State  Multiple
19937    2019-20             State  Multiple
19938    2019-20             State  Multiple

                                esdname  esdorganizationid  districtcode  \
0      Educational Service District 101           100001.0        1109.0
1      Educational Service District 101           100001.0        1109.0
2      Educational Service District 101           100001.0        1109.0
3      Educational Service District 101           100001.0        1109.0
4      Educational Service District 101           100001.0        1109.0
...                                 ...                ...           ...
19934                       State Total                NaN           NaN
19935                       State Total                NaN           NaN
19936                       State Total                NaN           NaN
19937                       State Total                NaN           NaN
19938                       State Total                NaN           NaN

                    districtname  districtorganizationid  schoolcode  \
0      Washtucna School District                100287.0         NaN
1      Washtucna School District                100287.0         NaN
2      Washtucna School District                100287.0         NaN
3      Washtucna School District                100287.0         NaN
4      Washtucna School District                100287.0         NaN
...                          ...                     ...         ...
19934                State Total                     NaN         NaN
19935                State Total                     NaN         NaN
19936                State Total                     NaN         NaN
19937                State Total                     NaN         NaN
19938                State Total                     NaN         NaN

           schoolname  ...  non foster care non highly capable non homeless  \
0      District Total  ...                0                  5            5
1      District Total  ...                0                  9            9
2      District Total  ...                0                  6            6
3      District Total  ...                0                  3            3
4      District Total  ...                0                  5            5
...               ...  ...              ...                ...          ...
19934     State Total  ...            84879              79472        83051
19935     State Total  ...          1140070            1073801      1114215
19936     State Total  ...              410                410          388
19937     State Total  ...            82140              81623        79963
19938     State Total  ...            33747              33867        33059

       non low income  non migrant  non military parent  non mobile  \
0                   0            5                    5           5
1                   2            9                    9           8
2                   2            6                    6           6
3                   0            3                    3           3
4                   1            5                    5           5
...               ...          ...                  ...         ...
19934           46114        83475                83598       84293
19935          610696      1123358              1115910     1126840
19936             264          407                  408         394
19937           45274        81122                79195       81280
19938           18202        33526                32655       30935

       non section 504  students without disabilities                dataasof
0                    5                              5  06/18/2024 12:00:00 AM
1                    9                              8  06/18/2024 12:00:00 AM
2                    4                              6  06/18/2024 12:00:00 AM
3                    3                              3  06/18/2024 12:00:00 AM
4                    5                              3  06/18/2024 12:00:00 AM
...                ...                            ...                     ...
19934            80460                          74613           12/22/23 0:00
19935          1099760                         975921           12/22/23 0:00
19936              411                            377           12/22/23 0:00
19937            81911                          72329           12/22/23 0:00
19938            33807                          14781           12/22/23 0:00

[101812 rows x 45 columns]

In [19]:
# Analyze the dataset to create baseline understanding

print('Display the first 5 rows of the OSPI dataframe')
print(concat_df.head(5)) # Display the first 5 rows of the Dataframe
print("*"*75)

print('Dataframe info:')
print(concat_df.info()) # Display info about the data, including shape & column info
print("*"*75)


print('Missing data:')
print(concat_df.isnull().sum()) # Display columns with missing data

Display the first 5 rows of the OSPI dataframe
  schoolyear organizationlevel county                           esdname  \
0    2023-24          District  Adams  Educational Service District 101
1    2023-24          District  Adams  Educational Service District 101
2    2023-24          District  Adams  Educational Service District 101
3    2023-24          District  Adams  Educational Service District 101
4    2023-24          District  Adams  Educational Service District 101

   esdorganizationid  districtcode               districtname  \
0           100001.0        1109.0  Washtucna School District
1           100001.0        1109.0  Washtucna School District
2           100001.0        1109.0  Washtucna School District
3           100001.0        1109.0  Washtucna School District
4           100001.0        1109.0  Washtucna School District

   districtorganizationid  schoolcode      schoolname  ...  non foster care  \
0                100287.0         NaN  District Total  ...                0
1                100287.0         NaN  District Total  ...                0
2                100287.0         NaN  District Total  ...                0
3                100287.0         NaN  District Total  ...                0
4                100287.0         NaN  District Total  ...                0

  non highly capable non homeless  non low income  non migrant  \
0                  5            5               0            5
1                  9            9               2            9
2                  6            6               2            6
3                  3            3               0            3
4                  5            5               1            5

   non military parent  non mobile  non section 504  \
0                    5           5                5
1                    9           8                9
2                    6           6                4
3                    3           3                3
4                    5           5                5

   students without disabilities                dataasof
0                              5  06/18/2024 12:00:00 AM
1                              8  06/18/2024 12:00:00 AM
2                              6  06/18/2024 12:00:00 AM
3                              3  06/18/2024 12:00:00 AM
4                              3  06/18/2024 12:00:00 AM

[5 rows x 45 columns]
***************************************************************************
Dataframe info:
<class 'pandas.core.frame.DataFrame'>
Index: 101812 entries, 0 to 19938
Data columns (total 45 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   schoolyear                               101812 non-null  object
 1   organizationlevel                        101812 non-null  object
 2   county                                   101812 non-null  object
 3   esdname                                  100094 non-null  object
 4   esdorganizationid                        100014 non-null  float64
 5   districtcode                             101732 non-null  float64
 6   districtname                             101812 non-null  object
 7   districtorganizationid                   101732 non-null  float64
 8   schoolcode                               79634 non-null   float64
 9   schoolname                               101812 non-null  object
 10  schoolorganizationid                     79634 non-null   float64
 11  currentschooltype                        79634 non-null   object
 12  gradelevel                               101812 non-null  object
 13  all students                             101812 non-null  int64
 14  female                                   101812 non-null  int64
 15  gender x                                 101812 non-null  int64
 16  male                                     101812 non-null  int64
 17  american indian  alaskan native          101812 non-null  int64
 18  asian                                    101812 non-null  int64
 19  black  african american                  101812 non-null  int64
 20  hispanic  latino of any race(s)          101812 non-null  int64
 21  native hawaiian  other pacific islander  101812 non-null  int64
 22  two or more races                        101812 non-null  int64
 23  white                                    101812 non-null  int64
 24  english language learners                101812 non-null  int64
 25  foster care                              101812 non-null  int64
 26  highly capable                           101812 non-null  int64
 27  homeless                                 101812 non-null  int64
 28  low income                               101812 non-null  int64
 29  migrant                                  101812 non-null  int64
 30  military parent                          101812 non-null  int64
 31  mobile                                   101812 non-null  int64
 32  section 504                              101812 non-null  int64
 33  students with disabilities               101812 non-null  int64
 34  non english language learners            101812 non-null  int64
 35  non foster care                          101812 non-null  int64
 36  non highly capable                       101812 non-null  int64
 37  non homeless                             101812 non-null  int64
 38  non low income                           101812 non-null  int64
 39  non migrant                              101812 non-null  int64
 40  non military parent                      101812 non-null  int64
 41  non mobile                               101812 non-null  int64
 42  non section 504                          101812 non-null  int64
 43  students without disabilities            101812 non-null  int64
 44  dataasof                                 101812 non-null  object
dtypes: float64(5), int64(31), object(9)
memory usage: 35.7+ MB
None
***************************************************************************
Missing data:
schoolyear                                     0
organizationlevel                              0
county                                         0
esdname                                     1718
esdorganizationid                           1798
districtcode                                  80
districtname                                   0
districtorganizationid                        80
schoolcode                                 22178
schoolname                                     0
schoolorganizationid                       22178
currentschooltype                          22178
gradelevel                                     0
all students                                   0
female                                         0
gender x                                       0
male                                           0
american indian  alaskan native                0
asian                                          0
black  african american                        0
hispanic  latino of any race(s)                0
native hawaiian  other pacific islander        0
two or more races                              0
white                                          0
english language learners                      0
foster care                                    0
highly capable                                 0
homeless                                       0
low income                                     0
migrant                                        0
military parent                                0
mobile                                         0
section 504                                    0
students with disabilities                     0
non english language learners                  0
non foster care                                0
non highly capable                             0
non homeless                                   0
non low income                                 0
non migrant                                    0
non military parent                            0
non mobile                                     0
non section 504                                0
students without disabilities                  0
dataasof                                       0
dtype: int64

### Business Questions for Analysis

- How is enrollment trending since 2020/post-COVID era (2020-2021, 2021-2022, 2022-2023, 2023-2024)
    - by grade
- Can we see a heatmap of enrollment increases/decreases across school districts?
- Isolate Spokane area schools and do same analysis as above
    - may require school - zip code dataset to cross-reference
    - is Spokane County good enough for aggregation?

In [20]:
# Remove rows with missing or duplicated values from dataframe

cleaned_df = concat_df.dropna()
cleaned_df = cleaned_df.drop_duplicates() 
cleaned_df = cleaned_df.drop(['american indian  alaskan native', 'asian', 'black  african american',
       'hispanic  latino of any race(s)',
       'native hawaiian  other pacific islander', 'two or more races', 'white',
       'english language learners', 'foster care', 'highly capable',
       'homeless', 'low income', 'migrant', 'military parent', 'mobile',
       'section 504', 'students with disabilities',
       'non english language learners', 'non foster care',
       'non highly capable', 'non homeless', 'non low income', 'non migrant',
       'non military parent', 'non mobile', 'non section 504',
       'students without disabilities'], axis=1)
cleaned_df

,schoolyear,organizationlevel,county,esdname,esdorganizationid,districtcode,districtname,districtorganizationid,schoolcode,schoolname,schoolorganizationid,currentschooltype,gradelevel,all students,female,gender x,male,dataasof
4459,2023-24,School,Adams,Educational Service District 101,100001.0,1109.0,Washtucna School District,100287.0,3075.0,Washtucna Elementary/High School,100326.0,P,10th Grade,5,4,0,1,06/18/2024 12:00:00 AM
4460,2023-24,School,Adams,Educational Service District 101,100001.0,1109.0,Washtucna School District,100287.0,3075.0,Washtucna Elementary/High School,100326.0,P,11th Grade,9,5,0,4,06/18/2024 12:00:00 AM
4461,2023-24,School,Adams,Educational Service District 101,100001.0,1109.0,Washtucna School District,100287.0,3075.0,Washtucna Elementary/High School,100326.0,P,12th Grade,6,3,0,3,06/18/2024 12:00:00 AM
4462,2023-24,School,Adams,Educational Service District 101,100001.0,1109.0,Washtucna School District,100287.0,3075.0,Washtucna Elementary/High School,100326.0,P,1st Grade,3,2,0,1,06/18/2024 12:00:00 AM
4463,2023-24,School,Adams,Educational Service District 101,100001.0,1109.0,Washtucna School District,100287.0,3075.0,Washtucna Elementary/High School,100326.0,P,2nd Grade,5,3,0,2,06/18/2024 12:00:00 AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19918,2019-20,School,Yakima,Educational Service District 105,100002.0,39209.0,Mount Adams School District,100155.0,2532.0,White Swan High School,103299.0,P,10th Grade,58,30,0,28,12/22/23 0:00
19919,2019-20,School,Yakima,Educational Service District 105,100002.0,39209.0,Mount Adams School District,100155.0,2532.0,White Swan High School,103299.0,P,11th Grade,51,25,0,26,12/22/23 0:00
19920,2019-20,School,Yakima,Educational Service District 105,100002.0,39209.0,Mount Adams School District,100155.0,2532.0,White Swan High School,103299.0,P,12th Grade,60,26,0,34,12/22/23 0:00
19921,2019-20,School,Yakima,Educational Service District 105,100002.0,39209.0,Mount Adams School District,100155.0,2532.0,White Swan High School,103299.0,P,9th Grade,58,31,0,27,12/22/23 0:00
19922,2019-20,School,Yakima,Educational Service District 105,100002.0,39209.0,Mount Adams School District,100155.0,2532.0,White Swan High School,103299.0,P,All Grades,227,112,0,115,12/22/23 0:00

## Enrollment Trends

Using merged datasets from above, produce plot line of enrollment change from 2020 to present.

In [21]:
enrollment_data = concat_df.pivot_table(values="All Students", index="GradeLevel", columns="SchoolYear", aggfunc="sum")
enrollment_data = enrollment_data.style.format("{:,.0f}")

enrollment_data

KeyError: 'All Students'

In [ ]:
enrollment_data = concat_df.pivot_table(values="All Students", index=["SchoolName","GradeLevel"], columns=["County","SchoolYear"], aggfunc="sum", fill_value=0)
enrollment_data = enrollment_data.style.format("{:,.0f}")

enrollment_data

In [ ]:
print('Dataframe objects:')
print(cleaned_df.columns) # Display the columns for df.drop call

Dataframe objects:
Index(['schoolyear', 'organizationlevel', 'county', 'esdname',
       'esdorganizationid', 'districtcode', 'districtname',
       'districtorganizationid', 'schoolcode', 'schoolname',
       'schoolorganizationid', 'currentschooltype', 'gradelevel',
       'all students', 'female', 'gender x', 'male',
       'american indian  alaskan native', 'asian', 'black  african american',
       'hispanic  latino of any race(s)',
       'native hawaiian  other pacific islander', 'two or more races', 'white',
       'english language learners', 'foster care', 'highly capable',
       'homeless', 'low income', 'migrant', 'military parent', 'mobile',
       'section 504', 'students with disabilities',
       'non english language learners', 'non foster care',
       'non highly capable', 'non homeless', 'non low income', 'non migrant',
       'non military parent', 'non mobile', 'non section 504',
       'students without disabilities', 'dataasof'],
      dtype='object')

<mark> this code block will drop columns but is not ready for use. drop into Code block when ready to execute <mark>


trunc_df = cleaned_df.drop([['SchoolYear', 'OrganizationLevel', 'County', 'ESDName',
       'ESDOrganizationID', 'DistrictCode', 'DistrictName',
       'DistrictOrganizationId', 'SchoolCode', 'SchoolName',
       'SchoolOrganizationID', 'CurrentSchoolType', 'GradeLevel',
       'All Students', 'Female', 'Gender X', 'Male',
       'American Indian/ Alaskan Native', 'Asian', 'Black/ African American',
       'Hispanic/ Latino of any race(s)',
       'Native Hawaiian/ Other Pacific Islander', 'Two or More Races', 'White',
       'English Language Learners', 'Foster Care', 'Highly Capable',
       'Homeless', 'Low-Income', 'Migrant', 'Military Parent', 'Mobile',
       'Section 504', 'Students with Disabilities',
       'Non-English Language Learners', 'Non-Foster Care',
       'Non-Highly Capable', 'Non-Homeless', 'Non-Low Income', 'Non Migrant',
       'Non Military Parent', 'Non Mobile', 'Non Section 504',
       'Students without Disabilities', 'DataAsOf']], axis=1)

In [ ]:
import matplotlib.pyplot as plt

enrollment_data = concat_df.pivot_table(values="All Students", 
                                        index="GradeLevel", 
                                        columns="SchoolYear", 
                                        aggfunc="sum")

plt.figure(figsize=(10, 6))
for grade in enrollment_data.index:
    plt.plot(enrollment_data.columns, enrollment_data.loc[grade], marker='o', label=grade)

plt.title('Enrollment Trend by Grade from 2020 to 2024')
plt.xlabel('School Year')
plt.ylabel('Number of Students')
plt.legend(title="Grade Level", bbox_to_anchor=(1.05, 1), loc='upper left')
plt.grid(True)
plt.tight_layout()
plt.show()

NameError: name 'concat_df' is not defined

In [ ]:
# Display statistical summary of data
print('Statistical summary of dataframe')
print(concat_df.describe())

Statistical summary of dataframe

NameError: name 'concat_df' is not defined